.reveal pre {
  font-size: 1.3em !important;
}

div.prompt.input_prompt {
  display: none !important;
}

.reveal .slides > section > section.present {
  padding: 0 !important;
}

.reveal .rendered_html h2:first-child {
  margin: 0 0 0.5em 0;
}

.reveal .rendered_html h3:first-child {
  margin: 0 0 0.5em 0;
}

.slides {
  width: 1600px;
}
